<div class="offcanvas offcanvas-start" tabindex="-1" id="sideMenu" aria-labelledby="sideMenuLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sideMenuLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="nav flex-column">
            <a [href]="this.linkedin" class="nav-link" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-linkedin"></i> LinkedIn
            </a>
            <a href="tel:{{this.phone}}" class="nav-link">
                <i class="bi bi-telephone"></i> Phone
            </a>
            <a [href]="this.email" class="nav-link">
                <i class="bi bi-envelope"></i> Email
            </a>
            <a [href]="this.resume" class="nav-link" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-file-earmark-pdf"></i> Download Resume
            </a>
        </div>
    </div>
</div>