footer {
    height: var(--footer-height);
    background: transparent;
    color: #333; /* Changed font color for better contrast */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}